@media (max-width: 991px) {
    .horz-page .borrow-section {
        margin: 0 15px;
    }

    .horz-page .borrow-section .right-form {
        padding: 30px;
    }

    .horz-page .borrow-section .left-form,
    .horz-page .borrow-section .right-form {
        width: 100%;
    }

    .horz-page .borrow-section .borrow-form {
        padding: 1.875em;
    }
}


@media (max-width:370px) {
    html {
        font-size: 90%;
    }

    .borrow-section .borrow-form {
        padding: 1.5em 1em;
    }

    .horz-page .right-form h4 {
        font-size: 1.3rem;
    }

    .horz-page .borrow-section .borrow-form,
    .horz-page .borrow-section .right-form {
        padding: 30px 20px;
    }
}
